<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>welcome to classroom</h1>
    <li>
      <ul>
        <a href="{%url "classroom:thank_you"%}">thank you</a>
      </ul>
      <ul>
        <a href="{%url "classroom:contact_form"%}">contact form link</a>
      </ul>
    </li>
    <li>
      <ul>
        <a href="{%url "classroom:create_teacher"%}">create teacher page</a>
      </ul>
    </li>
    <li>
      <ul>
        <a href="{%url "classroom:teacher_list"%}">teacher list</a>
      </ul>
    </li>
  </body>
</html>
